body {
  font-family: Montserrat;
  background-color: #393e46;
  font-weight: 400;
}

h1 {
  color: #ec6e4c;
  font-size: 43px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 12px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #a0a0a0;
}

strong {
  color: #222831;
  text-shadow: 1px 1px 2px #e98063;
}
.units {
  font-weight: 500;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #222831;
  font-size: 20px;
  font-weight: 500;
  line-height: 19px;
  text-align: right;
  margin-bottom: 5px;
}
li:first-letter {
  text-transform: capitalize;
}
h2:first-letter {
  text-transform: capitalize;
}
h2 {
  margin: 0;
  padding-left: 3px;
  color: #222831;
  font-size: 20px;
  font-weight: 500;
  line-height: 19px;
}
.btn-primary {
  border-radius: 5px;
  border: none;
  transition: 0.2s;
  background: #ec6e4c;
  color: white;
  box-shadow: 0 0 1px #222831;
}
.btn-primary:hover {
  background: #393e46;
  border: none;
  color: white;
}
.form-control {
  border-color: #ec6e4c;
  border-style: solid;
  border-width: thin;
  border-radius: 4px;
}

.weather-app-wrapper {
  border: 1px solid #222831;
  max-width: 600px;
  margin: 30px auto;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
}

.weather-app {
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}
.update {
  font-size: 11px;
  text-align: center;
  margin: 0 auto;
  font-weight: 500;
  padding-bottom: 20px;
  opacity: 70%;
  color: #222831;
}
.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #222831;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: #222831;
  cursor: pointer;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  margin-bottom: -20px;
  text-align: center;
  font-weight: 400;
  color: #002a30;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
  font-weight: 500;
  padding-bottom: 5px;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}

.weather-forecast-temperatures {
  font-size: 15px;
  padding-top: 10px;
}
.open {
  text-align: center;
  font-weight: 600;
  display: inline;
  margin: 0 auto;
  color: #ec6e4c;
}
.coded {
  padding-top: 20px;
  font-weight: 500;
  font-size: 10px;
  text-align: center;
  color: #ec6e4c;
}
.open:hover {
  background: white;
  border: none;
  color: #222831;
  text-decoration: none;
}
.images {
  display: block;
  margin: 0 auto;
  width: 65px;
  height: auto;
  border: none;
  background-color: rgb(125, 191, 202);
  box-shadow: 1px 1px 2px #ccc;
  border-radius: 190px;
}
